<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <div class="page-header">
      <h1>Tagfiles example</h1>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
